[Desktop Entry]
Type=Application
Name=A Wine application
MimeType=text/vbscript;
Exec=env WINEPREFIX="/home/klaus/.local/share/wineprefixes/default" wine start /ProgIDOpen VBSFile %f
NoDisplay=true
StartupNotify=true
